h1{
  text-align: center;
  background-color: rgb(146, 104, 48);
  color: white;

}
.div1{
  border-color: rgb(100, 72, 11);
  padding: 2px;
}
.mat-card{
 background-color: rgb(246, 250, 250);
 border: 2px solid rgb(141, 101, 26);
}

button{
  background-color: rgb(141, 101, 26);
}
